# MCP Server
server:
  name: document-server # The name of the MCP server

# Vertex AI Model
model:
  model_name: models/gemini-1.5-flash-002 # The name of the Vertex AI model
  project_id: <your-project-id> # The project ID of the Vertex AI model
  location: <your-location> # The location of the model (e.g. us-central1)
  impersonate_service_account: <your-service-account> # The service account to impersonate
  generate_content_config: # The configuration for the generate content API
    temperature: 0.7 # The temperature for the generate content API
    top_p: 0.95 # The top p for the generate content API

# Vertex AI Data Store
data_stores:
  - project_id: <your-project-id> # The project ID of the Vertex AI data store
    location: <your-location> # The location of the Vertex AI data store (e.g. us)
    datastore_id: <your-datastore-id> # The ID of the Vertex AI data store
    tool_name: <your-tool-name> # The name of the tool
    description: <your-description> # The description of the Vertex AI data store
  - project_id: <your-project-id> # The project ID of the Vertex AI data store
    location: <your-location> # The location of the Vertex AI data store (e.g. us)
    datastore_id: <your-datastore-id> # The ID of the Vertex AI data store
    tool_name: <your-tool-name> # The name of the tool
    description: <your-description> # The description of the Vertex AI data store
